<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users - UserControl</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center" >
        <div>
            <h1>User skill list</h1>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Skill Name</th>
                        <th>Skill Level</th>
                    </tr>
                </thead>
                <tbody>
<!--                    <tr th:each="userSkill: ${userSkillsList}">-->
<!--                        <td th:text="${userSkill.id}">S ID</td>-->
<!--                        <td th:text="${userSkill.}">Email</td>-->
<!--                        <td th:text="${user.firstName}">First Name</td>-->
<!--                        <td th:text="${user.lastName}">Last Name</td>-->
<!--                    </tr>-->
                </tbody>
            </table>
        </div>
        <h3><a class="btn btn-primary" role="button" href="/panel">Back</a></h3>
    </div>

</body>
</html>